{% extends "general.html" %}

{% block content %}
    <h2 style="text-align: center; letter-spacing: 2.5px; text-transform: uppercase;">Clean My Data</h2>
    <div style="text-align: center;">
        A semester project by CS-21-DAT-5-02
    </div>
    <br>
    <br>
    <h4>Please upload the file(s) you wish to wrangle below, and you will be prompted for settings.</h4>
    <br>
    <div class="wrapper">
        <form class=main action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for entry in form %}

            <div>
                {{entry}}
            </div>
            <br>
            {% endfor %}
            <button type="submit" class="button">
                &emsp;Upload&emsp;
            </button>
        </form>
    </div>


    <br><br>
    <hr>

    <br>
    <a href="/success">Go to success page</a>
{% endblock %}