{% extends "general.html" %}

{% block content %}
    <div class="wrapper">
        <form class=main action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for entry in form %}
            <div>
                    {{ entry.label_tag }}
            </div>
            <div>
                {{entry}}
            </div>
            <br>
            {% endfor %}
            <button>
                Upload
            </button>
        </form>
    </div>
{% endblock %}