{% extends "general.html" %}

{% block content %}
<a href="/header-choices/{{ file_id }}">
    <button>
        Go back
    </button>
</a>
<h1>Select how you would like to convert each field.</h1>
<div class='grid-container'></div>
    {% for definition in header_definitions %}
    <h4>{{definition.id}} | {{definition.header.name}}</h4>
        <div id={{ header.id }}>
            <form class=main action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in forms %}
                    {% if field.name == 'id' %}
                        <input type="text" name="{{ field.name }}" value="{{ definition.id }}" style="visibility: hidden;">
                    {% endif %}
                    {% if field.name == 'current_type' %}
                        <div>
                            <h5>CURRENTLY SELECTED TYPE: {{ definition.get_current_type_display }}</h5>
                            <p>Pick another:</p>
                        </div>
                        <div>
                            {{field}}
                        </div>
                        <br>
                    {% endif %}
                    {% if field.name == 'desired_type' %}
                        <div>
                            <h5>CURRENTLY DESIRED TYPE: {{ definition.get_desired_type_display }}</h5>
                            <p>Pick another:</p>
                        </div>
                        <div>
                            {{field}}
                        </div>
                        <br>
                    {% endif %}
                    {% if field.name == 'null_choice_num' %}
                        <div>
                            <h5>null_choice_num: {{ definition.get_null_choice_num_display }}</h5>
                            <p>Pick another:</p>
                        </div>
                        <div>
                            {{field}}
                        </div>
                        <br>
                    {% endif %}
                    {% if field.name == 'null_choice_string' %}
                        <div>
                            <h5>null_choice_string: {{ definition.get_null_choice_string_display }}</h5>
                            <p>Pick another:</p>
                        </div>
                        <div>
                            {{field}}
                        </div>
                        <br>
                    {% endif %}
                    {% if field.name == 'null_choice_date' %}
                        <div>
                            <h5>null_choice_date: {{ definition.get_null_choice_date_display }}</h5>
                            <p>Pick another:</p>
                        </div>
                        <div>
                            {{field}}
                        </div>
                        <br>
                    {% endif %}
                {% endfor %}
                <button>
                    Update
                </button>
            </form>
        </div>       
        <br>
        <hr>
    {% endfor %}
</div>

<div>
    <div>
        <a href="/header-choices/{{ file_id }}">
            <button>
                Go back
            </button>
        </a>
    </div>
    <div style="text-align: right">
        <a href="{{ file_id }}/definitions">
            <button> 
                Continue
            </button>
        </a>    
    </div>
</div>




{% endblock %}