{% extends "general.html" %}

{% block content %}

<h1 style="text-transform: uppercase; letter-spacing: 2.0px;">Select your desired fields. </h1>
<h5 style="font-size: 16px; letter-spacing: 1.1px;">The fields that you select will expand and you may choose how you wish to handle NULL values. The fields that you do not selected will not have data wrangling performed on them.</h5>
<h3>Selected document: {{ document.file_name }}</h3>

<br>
    {% for header in header_list %}
    
        <div class="document" id={{ header.id }}>
            <p style="font-size: 16px; letter-spacing: 1.2px; font-weight: 900; text-transform: uppercase;">{{ header.name }}</p>

            <form class=main action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Check if header is to be wrangled -->
                <input type="checkbox" name="selected" id="selected" {% if header.selected %} Checked {% endif %} onchange="this.form.submit()">
                <label for="selected">Select</label>
                
                {% if header.selected %}
                    <!-- Handle null values -->
                    <!-- Check if header is of type num or string -->
                    {% if header.is_num %} <!-- if header.is_num -->
                        <div>
                            <p>This field has been identified as data type {{ header.type }}.</p>    
                        
                            <div>
                                <p>How would you like to handle NULL values for this field?</p>
                                
                                <input type="radio" name="null_num" id="null-num" value="nothing" onchange="this.form.submit()" {% if header.header_preference.null_choice_num == 'nothing' %} Checked {% endif %}>
                                <label for="null-num">Do Nothing</label>
    
                                <input type="radio" name="null_num" id="null-num" value="remove-tuples" onchange="this.form.submit()" {% if header.header_preference.null_choice_num == 'remove-tuples' %} Checked {% endif %}>
                                <label for="null-num">Remove Tuples</label>
                                
                                <input type="radio" name="null_num" id="null-num" value="replace" onchange="eventReplaceClick('replace-null-num-{{ header.id }}')" 
                                    {% if header.header_preference.null_choice_num == 'Avg' %} Checked
                                    {% elif header.header_preference.null_choice_num == 'Med' %} Checked
                                    {% elif header.header_preference.null_choice_num == 'Min' %} Checked
                                    {% elif header.header_preference.null_choice_num == 'Max' %} Checked
                                    {% elif header.header_preference.null_choice_num == 'Cus' %} Checked
                                    {% endif %}
                                >
                                <label for="">Replace NULL values</label>
                            </div>
    
                            <div class="
                            {% if header.header_preference.null_choice_num == 'Avg' %}
                            chosen
                            {% elif header.header_preference.null_choice_num == 'Med' %}
                            chosen
                            {% elif header.header_preference.null_choice_num == 'Min' %}
                            chosen
                            {% elif header.header_preference.null_choice_num == 'Max' %}
                            chosen
                            {% elif header.header_preference.null_choice_num == 'Cus' %}
                            chosen
                            {% else %}
                            notChosen
                            {% endif %}
                            " id="replace-null-num-{{ header.id }}">
                                <p>Replace with: </p>
                                <input type="radio" name="replace_num" id="replace-num" value="Avg" onchange="this.form.submit()" {% if header.header_preference.null_choice_num == 'Avg' %} Checked {% endif %}>
                                <label for="replace-num">Average</label>
    
                                <input type="radio" name="replace_num" id="replace-num" value="Med" onchange="this.form.submit()" {% if header.header_preference.null_choice_num == 'Med' %} Checked {% endif %}>
                                <label for="replace-num">Median</label>
                                
                                <input type="radio" name="replace_num" id="replace-num" value="Min" onchange="this.form.submit()" {% if header.header_preference.null_choice_num == 'Min' %} Checked {% endif %}>
                                <label for="replace-num">Minimum</label>
    
                                <input type="radio" name="replace_num" id="replace-num" value="Max" onchange="this.form.submit()" {% if header.header_preference.null_choice_num == 'Max' %} Checked {% endif %}>
                                <label for="replace-num">Maximum</label>
    
                                <input type="radio" name="replace_num" id="replace-num" value="Cus" onchange="this.form.submit()" {% if header.header_preference.null_choice_num == 'Cus' %} Checked {% endif %}>
                                <label for="replace-num">Custom</label>
                            </div>
                        </div>

                    {% elif header.is_string %} <!--header.is_string-->
                        <div>
                            <p>This field has been identified as data type {{ header.type }}.</p>

                            <div>
                                <p>How would you like to handle NULL values for this field?</p>
                                
                                <input type="radio" name="null_string" id="null-string" value="nothing" onchange="this.form.submit()" {% if header.header_preference.null_choice_string == 'nothing' %} Checked {% endif %}>
                                <label for="null-string">Do Nothing</label>
    
                                <input type="radio" name="null_string" id="null-string" value="remove-tuples" onchange="this.form.submit()" {% if header.header_preference.null_choice_string == 'remove-tuples' %} Checked {% endif %}>
                                <label for="null-string">Remove Tuples</label>
                                
                                <input type="radio" name="null_string" id="null-string" value="replace" onchange="eventReplaceClick('replace-null-string-{{ header.id }}')" {% if header.header_preference.null_choice_string == 'Cus' %} Checked {% endif %}>
                                <label for="null-string">Replace NULL values</label>
                            </div>
    
                            <div class="
                            {% if header.header_preference.null_choice_string == 'Cus' %}
                            chosen
                            {% else %}
                            notChosen
                            {% endif %}
                            " id="replace-null-string-{{ header.id }}">
                                <p>Replace with: </p>
                                <input type="radio" name="replace_string" id="replace-string" value="Cus" onchange="this.form.submit()" {% if header.header_preference.null_choice_string == 'Cus' %} Checked {% endif %}>
                                <label for="replace-string">Custom</label>
                            </div>
                        </div>

                    {% elif header.is_date %} <!--header.is_date-->
                        <div>
                            <p>This field has been identified as data type {{ header.type }}.</p>

                            <div>
                                <p>How would you like to handle NULL values for this field?</p>
                                
                                <input type="radio" name="null_date" id="null-date" value="nothing" onchange="this.form.submit()"{% if header.header_preference.null_choice_date == 'nothing' %} Checked {% endif %}>
                                <label for="null-date">Do Nothing</label>

                                <input type="radio" name="null_date" id="null-date" value="remove-tuples" onchange="this.form.submit()" {% if header.header_preference.null_choice_date == 'remove-tuples' %} Checked {% endif %}>
                                <label for="null-date">Remove Tuples</label>
                                
                                <input type="radio" name="null_date" id="null-date" value="replace" onchange="eventReplaceClick('replace-null-date-{{ header.id }}')" 
                                    {% if header.header_preference.null_choice_date == 'Now' %} Checked
                                    {% elif header.header_preference.null_choice_date == 'Cus' %} Checked 
                                    {% endif %}>
                                <label for="null-date">Replace NULL values</label>
                            </div>

                            <div class="
                            {% if header.header_preference.null_choice_date == 'Now' %}
                            chosen
                            {% elif header.header_preference.null_choice_date == 'Cus' %}
                            chosen
                            {% else %}
                            notChosen
                            {% endif %}
                            " id="replace-null-date-{{ header.id }}">
                                <p>Replace with: </p>

                                <input type="radio" name="replace_date" id="replace-date" value="Now" onchange="this.form.submit()" {% if header.header_preference.null_choice_date == 'Now' %} Checked {% endif %}>
                                <label for="replace-date">Current date: {% now "SHORT_DATE_FORMAT" %}</label>

                                <input type="radio" name="replace_date" id="replace-date" value="Cus" onchange="this.form.submit()" {% if header.header_preference.null_choice_date == 'Cus' %} Checked {% endif %}>
                                <label for="replace-date">Custom date</label>
                            </div>
                        </div>

                    {% else %}
                        <p>An error has occured.</p>
                        <p>The data type was: {{ header.type }}</p>

                    {% endif %}

                {% endif %}

                <!-- This is to identiy the header in view -->
                <input type="text" name="id" value="{{ header.id }}" style="visibility: hidden;">
            </form>
        </div>       
    {% endfor %}
</div>

{% if next_document %}
<div class="right"> 
    <a href="/header-choices/{{ next_document }}">
        <button class="button">
            &emsp;Next file&emsp;
        </button>
    </a> 
</div>

{% else %}
<div class="right"> 
    <a href="/success/">
        <button class="button">
            &emsp;Clean the documents&emsp;
        </button>
    </a> 
</div>

{% endif %}


{% endblock %}