{% extends "general.html" %}

{% block content %}

<h1>Select your desired fields.</h1>
<div class='grid-container'></div>
    {% for entry in header_definitions %}
    <h4>{{entry.header.id}} | {{entry.header.name}}</h4>
        <div id={{ header.id }}>
            <form class=main action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for entry in form %}
                <div>
                    {{ entry.label_tag }}
                </div>
                <div>
                    {{entry}}
                </div>
                <br>
                {% endfor %}
                <button>
                    Upload
                </button>
            </form>
        </div>       
        <br>
        <hr>
    {% endfor %}
</div>

<a href="{{ file_id }}/definitions">
    <button>
        Continue
    </button>
</a>

{% endblock %}