{% extends "general.html" %}

{% block content %}
<h2 style="text-align: center;">How to use CleanMyData</h2>
<h5 style="font: bold;">Step 1: Uploading files</h5>
    <a>
        Upload your files on the frontpage by pressing the "Choose files" button and choosing the correct files. Press the "Upload" button when you have selected the correct file(s).
        Note that it is possible to uploade multiple files at once if you wish to perform wrangling on more than one file.
    </a>
<h5 style="font: bold;">Step 2: Selecting fields and customising your preferences for NULL values</h5>
    <a>
        When your file(s) are uploaded, you will be taken to the Header Choices page. Here, the names of your data fields from your input file(s) will be shown. Choose the fields you want to perform data wrangling on by using the checkboxes. The fields you do not select will not undergo any form of cleaning.
            <br><br> 
        On this page, you can also set user preferences for how to handle NULL values in your file(s). This is done for each individual field, which means you can choose different ways of handling NULL values for each of your fields. Set your preferences by using the radio buttons.
    </a>
<h5 style="font: bold;">Step 3: Cleaning the data</h5>
    <a>
        The system cleans your data in accordance with your preferences.
    </a>
<h5 style="font: bold;">Step 4: Accessing your cleaned data</h5>
    <a>
        When the system has finished cleaning your data, you can access your file(s) on the Success page. You are automatically directed to this page after the data wrangling has been finished.
    </a>
    <div style="text-align: right;">
        <br><br>
        <a><i>Your Dev Team, CS-21-DAT-5-02</i></a>
    </div>

<br><br>
<hr>

<h5><a href="/">I understand, back to frontpage</a></h5>
{% endblock %}