{% extends "general.html" %}

{% block content %}

<p style="font-size: 24px; font-family: 'Roboto'; letter-spacing: 2.5px; font-weight: 900; text-transform: uppercase;">Merge files</p>
<p style="font-size: 16px; font-family: 'Roboto'; letter-spacing: 1.5px; font-weight: 500;;">Please specify which headers should be regarded as being related.</p>

<br>

<form action="/merge/documents/{{ documents.0.id }}" method="post">
    {% csrf_token %}
    {% for document in documents %}
        <p style="font-size: 24px; font-family: 'Roboto'; letter-spacing: 2.5px; font-weight: 900; text-transform: uppercase;">{{ forloop.counter }} - {{ document.file_name }}</p>
            <div class="document_container">
                {% for header in document.headers.all %}
                    <div class="header_item" style="text-align: center;">
                        <p style="font-size: 14px; font-family: 'Roboto'; letter-spacing: 1.5px;" >{{ header.name }}</p>

                        {% if forloop.parentloop.first %}
                            
                            {% for docu in documents %}
                                    
                                {% if docu != document %}
                                    <select style="width: 80%; text-align: center;" name="relation" id="cars">
                                    <option value="none">None</option>

                                    {% for head in docu.headers.all %}

                                        {% if head.type == header.type %}

                                            <option value="{{ header.id }}:{{ head.id }}">{{forloop.parentloop.counter}} - {{ head.name }}</option>
                                        
                                        {% endif %}

                                    {% endfor %}

                                    </select>

                                {% endif %}

                            {% endfor %}
                        
                        <br><br>

                    {% endif %}

                </div>
            {% endfor %}
        </div>

        <br><br>
    {% endfor %}


    <br>
    <div class="right">
        <button type="submit" class="button">
            &emsp;Merge selected documents&emsp;
        </button>
    </div>
</form>
<form action="/success/">
    <div class="left">
        <button type="submit" class="button">
            &emsp;Back&emsp;
        </button>
    </div>
</form>
<br>
{% endblock %}