{% extends "general.html" %}

{% block content %}
    <h2>Your documents were successfuly uploaded.</h2>
    <h4>Here, you'll find all your uploads and documents.</h4>

    <br>

    {% for upload in uploads %}
            <h4>Upload ID: {{ upload.id }} | Creation: {{ upload.created }}</h4>
            <h5>Documents in upload: {{ upload.documents.count }}</h5>

            <h5>Documents:</h5>
            <div>
                {% for document in upload.documents.all %} 
                <p style="font-size: 12px;">&emsp; Document ID: {{ document.id }} | Document extension: <span style="font-style: italic;">{{ document.file_extension }}</span></p>
                <p style="font-size: 12px;">&emsp; Data cleaning completed: <code>{{ document.is_wrangled }}</code></p>
                <!-- <a href="{{ clean.file.url }}">{{ file_uploaded.file_name }}</a> -->
                {% if not git forloop.last %}
                    <p style="font-size: 12px; color:grey;">&emsp; ----------------------------------------------------------------</p>
                {% endif %}
            </div>
            {% endfor %}
        
        {% if not forloop.last %}
            <br><hr>
        {% endif %}
    {% endfor %}   


    <br><br>
    <a href="/"><h5>Back to frontpage</h5></a>
{% endblock %}