{% extends "general.html" %}

{% block content %}
    <h2>Your file(s) were successfuly uploaded and wrangled.</h2>
    <h4>Here, you'll find all the files you've uploaded.</h4>

    <br>
    <br>

    {% for file_uploaded in files %}
       <div>
            <br>
            <p>File ID: {{ file_uploaded.id }} | <code>File type: {{ file_uploaded.file_extension }}</code></p>
            <p>is_wrangled: {{ file_uploaded.is_wrangled }}</p>
            <br>

            {% if file_uploaded.file %}

            <a href="{{ clean.file.url }}">{{ file_uploaded.file_name }}</a>

            {% endif %}
        </div>
        
        {% if not forloop.last %}
            <br><hr>
        {% endif %}
    {% endfor %}   


    <br><br>
    <a href="/"><h5>Back to frontpage</h5></a>
{% endblock %}