{% extends "general.html" %}

{% block content %}
    <h2>Your files were successfuly uploaded and wrangled.</h2>
    <h4>Here you'll find all the files you've uploaded.</h4>

    <br>
    <br>

    {% for clean in cleans %}
       <div>
            <h4>{{ clean.id }}</h4>

            {% if clean.file %}

            <a href="{{ clean.file.url }}">{{ clean.file.url }}</a>

            {% endif %}
        </div>
            
       <br><hr><br>
    {% endfor %}   

    <a href="/"><h5>Back to frontpage</h5></a>
{% endblock %}